@font-face {
  font-family: Handset;
  font-style: normal;
  font-weight: 300;
  src: url(HandsetCond.ttf);
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: black;
  color: white;
  font-family: Handset;
  font-size: 2rem;
  margin-left: 2px;
  margin-right: 2px;
  overflow-anchor: none;
}

br {
  width: 90%;
  border-top: 1px solid darkgrey;
}

.header {
  display: block;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 4px;
}

.entry {
  display: block;
  background-color: #222222;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.channelblock {
  display: grid;
  position: relative;
}

.channel {
  font-size: 6rem;
  text-align: center;
  display: grid;
  position: relative;
  left: 0%;
  top: 0%;
}

.nameblock {
  text-align: left;
  display: grid;
  grid-column-start: none;
  position: absolute;
}

.name {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  left: 2%;
  width: 95%;
}

.callname {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  left: 0%;
  width: 70%;
  top: 30%;
}

.typeblock {
  font-size: 1.5rem;
  text-align: left;
  display: grid;
  grid-column-start: none;
  position: relative;
  padding-bottom: 8px;
  left: 2%;
  width: 96%;
}

.type {
  display: inline-block;
  position: relative;
}

.mode {
  display: inline-block;
  position: relative;
}

.distance {
  display: inline-block;
  position: relative;
}

.phone {
  display: inline-block;
  position: absolute;
  font-size: 2rem;
  text-align: right;
  top: 50%;
  right: 5%;
}

.url {
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  text-align: right;
  right: 5%;
  top: 10%;
}

.notes {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  text-align: left;
  width: 96%;
  border-radius: 5px;
  background-color: dimgrey;
  padding: 2px;
  left: 1%;
}

.note {
  display: block;
  position: relative;
  text-align: left;
}
